body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  display: flex;
  height: 400px;
}

.input-container {
  width: 20%;
  padding: 1rem;
  background: #003049;
  color: white;
}

.map {
  width: 80%; 
  height: 100%;
}

.google-map-container {
  width: 100%;
  height: 100%;
}

.combobox-input {
  width: 250px;
  padding: auto;
  margin: 1rem;
}

.directions-container {
  align-items: flex-end;
}

.user-page {
  display: flex;
  flex-direction: column;
}

.input-container h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.input-container button {
  margin: 0.5rem;
  width: 40px;
  height: 30px;
}


.information-headers { 
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.destinations-container h4 {
  color: #FF7A00;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.information-headers ul {
  display: flex;
  background-color: #003049;
  width: 100%;
}

.information-headers li {
  margin: 0rem 0rem;
  padding: 1.5rem 5rem;
  color: white;
  width: 50%;
}

.destinations-container {
  display: flex;
  flex-direction: column;
}
