body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  display: flex;
  height: 70vh;
}

.input-container {
  width: 20%;
  padding: 1rem;
  background: black;
  color: white;
}

.map {
  width: 80%; 
  height: 100%;
}

.google-map-container {
  width: 100%;
  height: 100%;
}

.combobox-input {
  width: 100%;
  padding: auto;
}

.directions-container {
  align-items: flex-end;
}

.user-page {
  display: flex;
  flex-direction: column;
}